/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body{
    width: 70%; margin: auto; 
}


.navigation{text-align: center;}
.navigation button{margin: 0 5px ;}

/*.active{font-weight: bold; background-color: pink}*/

button.mat-raised-button.mat-primary.active{background-color: palevioletred}